:root{
  --background-color: #FFFFFF;
  --black-color: #000408;
  --lightblack-color: #13181f;
  --blackgreen-color: #181C14;
  --gray-color: #62625f;
  --green-color: #697565;
  --beige-color: #ECDFCC;
  --red-color: #8E1616;
  --lightgray-color: #EEEEEE;
  --navyblue-color: #0B192C;
  --button-background: #4d4d4a;
  --hover-color: #031c4f;


  --border-radius-1: 4px;
  --border-radius-2: 10px;
  --border-radius-3: 18px;
  --border-radius-4: 50%;

  --padding-1: 10px 20px;
  --padding-2: 3px;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); 
  margin: 50px;
  background-color: rgb(3, 14, 77);
  grid-column: 1 / span 12;
  grid-row: 2 / span 11;
  transition: grid-column 500ms ease-in-out;
  overflow: hidden;
}

main.after {
  grid-column: 2 / span 11;
}

main .welcome-text{
  position: relative;
  width: 100%;
  height: 90px;
  grid-column: span 12;
  padding: 15px 0 0 30px;
  border-bottom: 3px solid var(--background-color);
  color: rgb(228, 228, 228);
}

main .welcome-text h2{
  font-size: 25px;
  font-weight: 700;
}

main .welcome-text p{
  font-size: 15px;
}

.data-container{
  background-color: #444853;
  grid-column: span 12;
  grid-row: span 11;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}

.bar-container{
  width: 880px;
  height: 400px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
}
  
  #donut-container{
    grid-row: auto;
    background-color: transparent;
    border: 2px solid white;
    width: 380px;
    height: 310px;
  }
  
  #calories-flexbox{
    padding: 15px 0 10px 15px;
  }
  
  #calories-flexbox h5{
    font-size: 19px;
  }
  
  #remaining-flexbox{
    padding: 0 0 10px 15px;
  }
  
  #remaining-flexbox h5{
    font-size: 14px;
    color: #bbbbbb;
  }
  
  #donut-chart{
    width: 100%;
    margin: 10px 0 10px 0;
  }

.scatter-container{
  height: 400px;
  width: 880px;
  border: 2px solid white;
  border-radius: 8px;
}

