@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --background-color: #FFFFFF;
  --black-color: #000408;
  --lightblack-color: #13181f;
  --blackgreen-color: #181C14;
  --gray-color: #62625f;
  --green-color: #697565;
  --beige-color: #ECDFCC;
  --red-color: #b80e0e;
  --lightgray-color: #EEEEEE;
  --navyblue-color: #0B192C;
  --button-background: #4d4d4a;
  --hover-color: #031c4f;

  --border-radius-1: 4px;
  --border-radius-2: 10px;
  --border-radius-3: 18px;
  --border-radius-4: 50%;

  --padding-1: 10px 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

body{
  font-family: "Poppins", serif;
  background-image: url('/frontend/images/background1.jpg');
}

a{
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

.container{
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 850px;
  height: 550px;
  border-radius: var(--border-radius-3);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.brand{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100px;
  top: -20%;
  justify-content: center;
}

.brand img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.brand h1{
  font-size: 50px;
  color: var(--background-color);
}

.brand span{
  color: var(--hover-color);
}

.login-formbox{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  transition: opacity 0.5s ease-in-out;

  z-index: 1;
}

form{
  padding: 40px;
  width: 100%;
}

form h1{
  font-size: 38px;
  color: var(--lightblack-color);
}

.inputbox{
  position: relative;
  margin: 30px 0;
}

.inputbox .usernamebox,
.passwordbox, .emailbox{
  width: 100%;
  border-radius: var(--border-radius-2);
  background-color: transparent;
  border: 1px solid var(--background-color);
  outline: none;
  padding: 15px 50px 15px 15px;
  color: var(--lightblack-color);
  font-size: 15px;
  font-weight: 600;
}

.inputbox i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: white;
}

.inputbox .usernamebox::placeholder,
.passwordbox::placeholder, .emailbox::placeholder{
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
}

.inputbox .lockicon{
  cursor: pointer;
}

.specialbox{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.specialbox input{
  accent-color: var(--hover-color);
  margin-right: -48px;
}

.login-btn,
.registerr-btn{
  width: 100%;
  height: 48px;
  background-color: var(--lightblack-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius-3);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.25s, color 0.25s;
}

.login-btn:hover,
.registerr-btn:hover{
  background-color: var(--background-color);
  color: var(--lightblack-color);
}

.register-formbox{
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.togglebox{
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: 3px solid var(--background-color);
  border-radius: var(--border-radius-3);
}

.toggle-left-panel{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.toggle-left-panel h1{
  font-size: 45px;
  font-style: italic;
}

.toggle-left-panel p{
  margin: 20px 0 15px 0;
  font-size: 18px;
}

.register-btn{
  width: 160px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  color: var(--background-color);
  border-radius: var(--border-radius-2);
  border: 2px solid var(--background-color);
  box-shadow: 0 0 0 1px rgba(248, 248, 248, 0.2);
  cursor: pointer;
  box-shadow: none;
}

.register-btn:hover{
  background-color: var(--background-color);
  color: rgb(73, 132, 221);
  border: none;
}

.login-formbox.hide{
  opacity: 0;
  pointer-events: none;
}

.register-formbox.visible{
  opacity: 1;
}
