body{
  background-color: #dbdbdb;
  font-family: Arial;
}

header{
  background-color: lightcyan;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(148, 239, 255);
}

nav{
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  align-content: center;
}

nav a{
  color: black;
  text-decoration: none;
}

nav h1{
  text-transform: uppercase;
  line-height: 25px;
}

nav h1 div:first-child{
  font-weight: 800;
  letter-spacing: 1.5px;
}

nav h1 div:last-child{
  font-weight: 400;
}

main{
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 30px;
}

main div{
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border: 16px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}

main img{
  min-width: 100%;
  height: 100%;
}

main .short{
  grid-row: span 1;
}

main .tallest{
  grid-row: span 3;
}

main .tall{
  grid-row: span 2;
}

main h3, p, a{
  padding: 10px 20px;
  line-height: 28px;
}

@media screen and (max-width: 960px){
  main{
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
}

@media screen and (max-width: 620px){
  main{
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 20px auto;
  }
  nav{
    grid-template-columns: repeat(4, 1fr);
  }
  nav h1{
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}