:root{
  --background-color: #FFFFFF;
  --black-color: #000408;
  --lightblack-color: #13181f;
  --blackgreen-color: #181C14;
  --gray-color: #62625f;
  --green-color: #697565;
  --beige-color: #ECDFCC;
  --red-color: #b80e0e;
  --lightgray-color: #EEEEEE;
  --navyblue-color: #0B192C;
  --button-background: #4d4d4a;
  --hover-color: #031c4f;


  --border-radius-1: 4px;
  --border-radius-2: 10px;
  --border-radius-3: 18px;
  --border-radius-4: 50%;

  --padding-1: 10px 20px;
  --padding-2: 3px;
}

*{
  box-sizing: border-box;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); 
  margin: 50px;
  background-color: rgb(25, 33, 44);
  grid-column: 1 / span 12;
  grid-row: 2 / span 11;
  transition: grid-column 500ms ease-in-out;
  overflow: hidden;
}

main.after {
  grid-column: 2 / span 11;
}

.mealheader{
  position: relative;
  width: 100%;
  height: 90px;
  grid-column: span 12;
  padding: 15px 0 0 30px;
  color: white;
  border-bottom: 1px solid white;
}

.mealheader h2{
  font-size: 25px;
  font-weight: 700;
}

.data-container{
  background-color: rgb(21,27,35);
  grid-column: span 12;
  grid-row: span 11;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;

  position: relative;
}

.top{
  background-color: black;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 10px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid white;
}

.caloriecount,
.top-title,
.diarydate{
  height: 100%;
  display: flex;
  align-items: center;
}

.caloriecount h2{
  position: relative;
  width: max-content;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.caloriecount h2::after{
  content: '';
  position: absolute;
  border-radius: var(--border-radius-2);
  background: linear-gradient(45deg, blue, green);
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
}

#caloriecountmealpage{
  letter-spacing: 1px;
}

.top-title{
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.diarydate{
  position: relative;
  font-weight: 600;
}

.diarydate button{
  cursor: pointer;
  font-size: 25px;
}

.diarydate button i{
  color: white;
  display: flex;
  align-items: center;
  transition: 200ms ease;
}

.diarydate button i:hover{
  color: rgb(122, 121, 121);
}

#datespan{
  color: white;
  padding: 8px;
  font-size: 22px;
  width: max-content;
}

.searchmeals{
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: var(--border-radius-2);
  border: 1px solid white;
  transition: 100ms ease-in;
  z-index: 1;
  overflow-y: auto;

  visibility: hidden;
}

.searchmeals header{
  position: absolute;
  top: 10px;
  left: 24px;
  width: max-content;
  height: max-content;
  border: none;
  font-size: 25px;
  background-color: transparent;
}

#addFoodBtn{
  position: absolute;
  background-color: rgb(42, 136, 45);
  color: white;
  border-radius: var(--border-radius-2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  right: 54px;
  top: 6px;
  width: 150px;
  height: 45px;
  z-index: 10;
  cursor: pointer;
  transition: 120ms ease-out;
}

#addFoodBtn:hover{
  opacity: 0.9;
}

#addFoodBtn:active{
  transform: scale(0.95);
}

#closeFoodBtn{
  position: absolute;
  background-color: rgb(226, 226, 226);
  color: black;
  border-radius: 50%;
  padding: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  object-fit: contain;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: all 100ms ease;
}

#closeFoodBtn:hover{
  background-color: rgb(209, 0, 0);
  color: white;
}

.searchmeals .searchbox{
  position: relative;
  top: 60px;
  width: 95%;
  height: max-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox input {
  position: relative;
  flex: 1;
  height: 60px;
  padding-left: 14px;
  padding-right: 100px;
  font-size: 16px;
  border-radius: var(--border-radius-2);
  border: none;
  background-color:white;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.35);
  z-index: 1;
}

.searchbox input::placeholder {
  font-size: 16px;
}

.searchbox button {
  position: absolute;
  cursor: pointer;
  background-color: rgb(252, 232, 118);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  width: 80px;
  height: 100%;
  border-top-right-radius: var(--border-radius-2);
  border-bottom-right-radius: var(--border-radius-2);
  right: 0;
  top: 0;
  z-index: 2;

  opacity: 0;
  transition: all 320ms ease;
}

.searchbox button:hover {
  background: rgb(255, 225, 53);
}

.searchbox button i {
  font-size: 30px;
}

.searchbox input:not(:placeholder-shown) + button{
  visibility: visible;
  opacity: 1;
}

.searchbox input:focus{
  outline: 0;
}

.suggestions{
  position: absolute;
  list-style-type: none;
  width: 95%;
  height: 442px;
  top: 135px;
  background-color: transparent;
  border-radius: var(--border-radius-1);
  border: 1px solid rgb(190, 188, 188);
  overflow-y: auto;
}

.suggestions::-webkit-scrollbar{
  width: 8px;
  overflow-y: hidden;
}

.suggestions::-webkit-scrollbar-track{
  background: inherit;
}

.suggestions::-webkit-scrollbar-thumb{
  background:rgb(78, 78, 78); 
  border-radius: 5px;
  cursor: pointer;
}

.suggestionsdiv{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 10px;
  font-size: 16px;
}

.suggestionsdiv:nth-child(odd){
  background-color: white;
}

.suggestionsdiv:nth-child(even){
  background-color: rgb(247, 246, 246);
}

.suggestionsdiv:hover{
  background-color: rgb(216, 229, 241);
  cursor: pointer;
}

.suggestionsdiv:last-child{
  border-bottom: none;
}

.suggestionsdiv i{
  font-size: 20px;
}

.foodinfo{
  position: absolute;
  padding: 4px;
  bottom: 10px;
  width: 95%;
  height: 200px;
  border-radius: var(--border-radius-1);
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.foodinfo span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.nutrients{
  position: absolute;
  background: transparent;
  border: 1px solid rgb(212, 210, 210);
  border-left: 0;
  border-radius: var(--border-radius-2);
  left: 0;
  width: 48%;
  height: 85%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nutrients h2{
  text-decoration: underline;
}

.proteindiv,
.carbsdiv,
.fatdiv{
  font-size: 18px;
}

.proteindiv{
  color: red;
}

.carbsdiv{
  color:green;
}

.fatdiv{
  color: blue;
}

.nutrients span{
  text-decoration: none;
}

.servingsize{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid rgb(212, 210, 210);
  border-radius: var(--border-radius-2);
  border-right: 0;
  width: 48%;
  height: 85%;
  right: 0px;
}

.servingsize h2{
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.servingsize input{
  width: 60px;
  padding: 8px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 6px;
}

.servingsize input:focus{
  outline: 0;
}

.unitsbtn{
  width: 25%;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 200ms;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 6px;
}

.unitsbtn:hover{
  background-color: rgb(236, 234, 234);
}

.unitsbtn span{
  text-decoration: none;
  font-size: 16px;
  padding: 0;
}

.servingunits {
  position: absolute;
  top: 105px;
  right: 38px;
  list-style-type: none;
  text-decoration: none;
  background-color: white;
  border: 1px solid rgb(163, 163, 163);
  width: 80px;
  overflow: hidden;
  max-height: 0;
  visibility: hidden; 
  text-align: center;
  transition: max-height 300ms ease-in-out, visibility 0s ease 300ms; 
  z-index: 10;
}

.servingunits.show {
  max-height: 200px; 
  visibility: visible;
  transition: max-height 300ms ease-in-out, visibility 0s ease 0s;
}

.servingunits li{
  border-bottom: 1px solid rgb(175, 175, 175);
}

.servingunits li:last-child{
  border: none;
}

.servingunits a{
  display: block;
  width: 100%;
  transition: 300ms ease;
  padding: 0px 10px 0px 2px;
}

.servingunits a:hover{
  background-color: rgb(216, 229, 241);
}

.meals-main-sections{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.breakfast-snacks,
.lunch-drinks,
.dinner-macros{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 33%;
}

.breakfast-snacks .breakfast,
.lunch-drinks .lunch,
.dinner-macros .dinner{
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(33, 42, 55);
  width: 100%;
  height: 50%;
}

.breakfast-snacks .snacks,
.lunch-drinks .drinks,
.dinner-macros .macros{
  position: relative;
  background-color: rgb(51, 54, 61);
  width: 100%;
  height: 50%;
}

.breakfast,
.snacks,
.lunch,
.drinks,
.dinner,
.macros{
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.breakfast .breakfasttopbar,
.snacks .snacktopbar,
.lunch .lunchtopbar,
.drinks .drinkstopbar,
.dinner .dinnertopbar{
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.breakfasttopbar h2,
.snacktopbar h2,
.lunchtopbar h2,
.drinkstopbar h2,
.dinnertopbar h2{
  font-size: 32px;
  font-weight: 700;
  color: rgb(196, 217, 255);
}

.breakfasttopbar h2 i,
.snacktopbar h2 i,
.lunchtopbar h2 i,
.drinkstopbar h2 i,
.dinnertopbar h2 i{
  color: white;
  font-size: 28px;
  margin-left: 4px;
}

.breakfasttopbar button,
.snacktopbar button,
.lunchtopbar button,
.drinkstopbar button,
.dinnertopbar button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: rgb(0, 0, 0);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer; 
  box-shadow: inset 0 0 10px 2px rgba(83, 83, 83, 0.65);
  transition: 350ms ease-in-out;
  color: white;
}

.breakfasttopbar button:hover,
.snacktopbar button:hover,
.lunchtopbar button:hover,
.drinkstopbar button:hover,
.dinnertopbar button:hover{
  background-color: white;
  color: black;
  transform: scale(1.06);
}

.breakfasttopbar button i,
.snacktopbar button i,
.lunchtopbar button i,
.drinkstopbar button i,
.dinnertopbar button i{
  font-size: 24px;
}

.breakfastlog,
.snackslog,
.lunchlog,
.drinkslog,
.dinnerlog{
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  background: white;
  width: 95%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 0; 
  bottom: 280px;
  visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.breakfastlog::-webkit-scrollbar,
.snackslog::-webkit-scrollbar,
.lunchlog::-webkit-scrollbar,
.drinkslog::-webkit-scrollbar,
.dinnerlog::-webkit-scrollbar{
  width: 4px;
  overflow-y: hidden;
}

.breakfastlog::-webkit-scrollbar-track,
.snackslog::-webkit-scrollbar-track,
.lunchlog::-webkit-scrollbar-track,
.drinkslog::-webkit-scrollbar-track,
.dinnerlog::-webkit-scrollbar-track{
  background: inherit;
}

.breakfastlog::-webkit-scrollbar-thumb,
.snackslog::-webkit-scrollbar-thumb,
.lunchlog::-webkit-scrollbar-thumb,
.drinkslog::-webkit-scrollbar-thumb,
.dinnerlog::-webkit-scrollbar-thumb{
  background:rgb(0, 0, 0); 
  border-radius: 5px;
  cursor: pointer;
}

.macros{
  padding: 21px;
}
