:root{
  --background-color: #FFFFFF;
  --black-color: #000408;
  --lightblack-color: #13181f;
  --blackgreen-color: #181C14;
  --gray-color: #62625f;
  --green-color: #697565;
  --beige-color: #ECDFCC;
  --red-color: #8E1616;
  --lightgray-color: #EEEEEE;
  --navyblue-color: #0B192C;
  --button-background: #4d4d4a;
  --hover-color: #031c4f;


  --border-radius-1: 4px;
  --border-radius-2: 10px;
  --border-radius-3: 18px;
  --border-radius-4: 50%;

  --padding-1: 10px 20px;
  --padding-2: 3px;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); 
  margin: 50px;
  background-color: rgb(25, 33, 44);
  grid-column: 1 / span 12;
  grid-row: 2 / span 11;
  transition: grid-column 500ms ease-in-out;
  overflow: hidden;
}

main.after {
  grid-column: 2 / span 11;
}

main .welcome-text{
  position: relative;
  width: 100%;
  height: 90px;
  grid-column: span 12;
  padding: 15px 0 0 30px;
  color: rgb(255, 255, 255);
}

main .welcome-text h2{
  font-size: 25px;
  font-weight: 700;
}

main .welcome-text p{
  font-size: 15px;
}

.data-container{
  background-color: rgb(21,27,35);
  grid-column: span 12;
  grid-row: span 11;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  padding: 3.5rem;
  gap: 2rem;
  overflow-y: auto;
}

.data-container div{
  position: relative;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}

.data-container div:nth-child(1) {
  grid-row: span 1;
  height: 100%;
  width: 80%;
}

.data-container div:nth-child(2),
.data-container div:nth-child(6) {
  width: 70%;
}

.data-container div:nth-child(3) {
  grid-row: span 2;
  width: 68%;
}

.data-container div:nth-child(4) {
  grid-row: span 2;
  width: 68%;
}

.data-container div:nth-child(7) {
  grid-row: span 1;
  height: 100%;
  width: 80%;
}

#checkindiv{
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkinbtn{
  cursor: pointer;
  width: 200px;
  height: 60px;
  background: red;
  color: white;
  font-size: 1.2rem;
  border-radius: var(--border-radius-2);
}

@media (max-width: 1550px) {
  main {
    margin: 20px;
  }
  main .welcome-text {
    height: 65px;
    padding: 10px 0 0 30px;
  }
  main .welcome-text h2{
    font-size: 18px;
    font-weight: 700;
  }
  
  main .welcome-text p{
    font-size: 12px;
  }
}